<div style="text-align: center; font-family: BlinkMacSystemFont, -apple-system,
'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
max-width: 600px; margin-left: auto; margin-right: auto; font-size: 1em;">
    <h1>Sonrisas Fuertes</h1>
    <div style="margin: 1.5em 0em; padding: 1.5em 0em;
    border-bottom: gray solid 1px;">
        <p style="text-align: justify-center;">Ingresa al siguiente enlace para restablecer
            la contraseña. En caso que no haya solicitado el
            restablecimiento de su contraeña, omita este mensaje.</p>
        <a href="{{link}}/">{{link}}/</a>
    </div>
    <div style="font-size: 0.8em; color: gray;">
        <p>Mensaje automático enviado por Sonrisas Fuertes. Por favor no responder a este mensaje.</p>
        <h3>Sonrisas Fuertes</h3>
    </div>
</div>
